<li data-room-id="<%= room.id %>"><b>Room #<%= room.id %></b> — <%= link_to('Join', room, data: { turbolinks: false }) %></li>

<% if room.users.present? %>
  <div class="text-danger room-users-list" data-room-id="<%= room.id %>">
    <%= room_users(room) %>
  </div>
<% end %>