<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<div class="text-success" id="all-online-users">
  <%= online_users %>
</div>

<div class="d-inline-flex mt-2">
  <%= link_to('New room', new_room_path, class: 'btn btn-primary') %>
</div>

<div class="row mt-4">
  <% if @rooms.public_rooms.present? %>
    <div class="col-md-6">
      <h4>Public:</h4>
      <ul class="list-unstyled" id="public-rooms-list">
        <%= render(@rooms.public_rooms) %>
      </ul>
    </div>
  <% end %>

  <% if @rooms.private_rooms.present? %>
    <div class="col-md-6">
      <h4>Private:</h4>
      <ul class="list-unstyled" id="private-rooms-list">
        <%= render(@rooms.private_rooms) %>
      </ul>
    </div>
  <% end %>
</div>
