<p id="notice"><%= notice %></p>

<h1>Password access only</h1>

<%= form_tag('', method: 'post') do %>
  <div class="form-group">
    <%= label('Password', :password) %>
    <%= password_field_tag(:password, params[:password], class: 'form-control') %>
  </div>

  <div class="actions">
    <%= submit_tag('Check', class: 'btn btn-primary') %>
  </div>
<% end %>

<div class="buffer-top">
  <%= link_to('Back to main page', root_path) %>
</div>